s1{
    font-size: 14pt;
    font-family: 궁서;
    color: purple; 
}
s2{
    font-size: 14pt;
    font-family: 굴림체;
    color: green; 
}
s3{
    font-size: 14pt;
    font-family: 궁서;
    color: red; 
}
